/* ---- reset ---- */ 
body{
  margin:0;
  font:normal 75% Arial, Helvetica, sans-serif; 
} 


canvas{
  display:block;
  vertical-align: bottom; 
}

/*My Main colors 
dark: #191919;
light:#DFE2DB;
target:#660099;
background/white:#FFFFFF;


*/
/* ---- particles.js container ---- */ 
#particles-js{
  height:100vh;
  width: 100%;
  background-color: #191919;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; 
  z-index: -1;
} 
/* ---- stats.js ---- */ 
.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif; font-weight: bold; 
} 

.js-count-particles{
  font-size: 1.1em; 
} 

#stats, .count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px; 
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}

.myPanel {
    font-family: 'Source Sans Pro';
    font-size: 1.3em;
    position: absolute;
    width: 200px;
    height: 220px;
    background: #DFE2DB;
    top: 50%;
    left: 50%;
    margin: -110px 0 0 -100px;
    border-radius: 4px;
    box-sizing: border-box;
    z-index: 100;
    text-align:center;
	color:#191919;
	opacity: 1;
	display: block;
	font-weight: bold;
}

#about, #portfolio, #contact{
	height: 100vh;
	background-color: #DFE2DB;
	margin-top: -42px;
}



.testPage{
	color:black;
	padding-top: 50px;
}




h1{
	font-size: 50px;
}

#menu{
	position:fixed;
	height: 50px;
	width: 100%;
	text-align: right;
	font-size: 30px;
	background-color: rgba(34,34,34,0.5);
	z-index: 101;
	padding-top: 5px;
}




#burgerToggle{
	display: none;
	position:fixed;
	top:10px;
	right: 15px;
	border: 0;
    text-indent: 200%;
    overflow: hidden;
    background: rgba(255,255,255,.8) url(../images/burger_icon.png) center no-repeat;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-size: 80%;
    width: 50px;
    height: 50px;
    outline: none;
    transition: all 400ms ease;

}

#burgerToggle.expanded{
	transform: rotate(-90deg);
	background-color: rgba(255,255,255,.2);
    border: 0;
}



.menuitem{
	font-size: 30px;
	color:#DFE2DB;
	padding: 10px;
	cursor: pointer;
	text-decoration: none;
}



.menuitem:hover{
	background-color: #191919;
	color: #660099;
	border-radius: 8px;
}



@media screen and (max-width: 580px) {
	#menu{
		background-color: rgba(34,34,34,0);
	}
	#burgerToggle{
		display: block;
	}
    .hidden{
    	display:block;
    }
    .menuitem{
    	display:none;
    	width: 100%;
		text-align: center;
    }
    .notHidden{
		display:block;
		background-color: rgba(34,34,34,0.5);

	}
    
}
